<ion-view title="Name">
    <ion-content padding="true" class="has-header">
       <img class="card animated fadeInUp" ng-src="avatar/10.png" style="border-radius:30px;position:relative; width:100%"/>
          <div class="card">
            <form class="list">
                <div class="item item-body">
                     <div class="row">
                         <div class="col col-33">
                            <h2><b>Name</b></h2>
                         </div>
                         <div class="col ">
                            <h3>{{SelectedData.Name}}</h3>
                         </div>
                     </div>
                      <div class="row">
                         <div class="col col-33">
                            <h2><b>Position </b></h2>
                         </div>
                         <div class="col ">
                            <h3>{{SelectedData.Position}}</h3>
                         </div>
                     </div>
                      
                     <div class="row">
                         <div class="col col-33">
                            <h2><b>E-mail Id</b></h2>
                         </div>
                         <div class="col ">
                            <h3>{{SelectedData.UserName}}</h3>
                         </div>
                     </div>
                   
                    
                </div>
		
       
        
    </ion-content>

</ion-view>